body{
    background-color: rgb(150, 166, 238);
}
.header-style{
    color: black;
    text-align: center;
    height: 8vh;
    font-size: 7vh;
    margin:2%;
    font-family: 'Acme', sans-serif;
}
.parallax{
    background-image: url("../images/b2.jpg");
    min-height: 85vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    padding: 1%;
    margin-left: 3%;
}
.main p{
    font-size: 3vh;
    font-family: 'PT Sans Caption', sans-serif;
}
.game{
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.game img{
    height: 30vh;
    width: 30vh;
    transition: 1s;
}

.game img:hover{
    transform: scale(1.2);   
}
.home p{
    margin-top: 1vh;
    text-align: center;
    font-size: 1.7vh;
    font-family: 'Roboto Mono', monospace;
}
.home a{
    color:black;
}
@media only screen and (max-width: 1500px) {
    .game{
        padding: 5%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .game img{
        margin-bottom: 10%;
        height: 40vh;
        width: 40vh;
        transition: 1s;
    }
    .game img:hover{
        transform: scale(1.1);   
    }

    
}