body{
    background-color: black;
}
.main {
    background-color: white;
    color: black;
    text-align: center;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}
.main h1{
    font-family: 'Carter One', cursive;
}
.main p{
    font-family: 'Heebo', sans-serif;
}
.contact{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:white;
}

.icon img{
    height: 10vh;
    width: 10vh;
    transition: 2s;
}

.icon img:hover{
    transform: scale(1.2);
}
.triangle{
    display: flex;
    flex-direction: row;
}
.triangle img{
    
    height: 20vh;
    width: auto;
    animation: move1 20s ease infinite;
    margin-bottom: 2%;
}

@keyframes move1 {
    0%{
    }
    25%{
        transform: translateX(60vw) rotate(360deg);
    }
    50%{
        transform: translate(0px) rotate(720deg);
    }
    75%{
        transform: translateY(50vh) rotate(1080deg);
    }
    100%{
        transform: translate(0px) rotate(1440deg);
    }

}
.triangle2{
    display: flex;
    flex-direction: row-reverse;
}
.triangle2 img{
    height: 20vh;
    width: auto;
    animation: move2 20s ease infinite;
    margin-right: 3%;
    margin-bottom: 3%; 
}
@keyframes move2 {
    0%{
    }
    25%{
        transform: translateX(-60vw) rotate(360deg);
    }
    50%{
        transform: translate(0px) rotate(720deg);
    }
    75%{
        transform: translateY(-50vh) rotate(1080deg);
    }
    100%{
        transform: translate(0px) rotate(1440deg);
    }

}
@media only screen and (max-width:1200px){
    .main{
        font-size: 3vw;
    }

    .main .home p{
        font-size:2vw;
    }

    .contact{
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color:white;
    }
    
    .icon img{
        height: 20vw;
        width: 20vw;
        transition: 2s;
        margin-bottom: 10%;
    }
    
    .icon img:hover{
        transform: scale(1.2);
    }
    .triangle{
        display: flex;
        flex-direction: row;
    }
    .triangle img{
        height: 50vw;
        width: auto;
        margin-bottom: 5%;
        animation: rot 10s ease infinite;
    } 
    .triangle2{
        display: flex;
        flex-direction: row-reverse;
    }
    .triangle2 img{
        height: 50vw;
        width: auto;
        margin-top: 5%;
        animation: rot 10s ease infinite;
    }
    @keyframes rot {
        100%{
            transform: rotate(360deg);
        }
    
    }
}
.home p{
    text-align: center;
    font-size: 1.5vh;
    font-family: 'Roboto Mono', monospace;
}
.home a{
    color:black;
}
